@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
.error {
  border: 2px solid hsl(0, 100%, 40.8%) !important;
}

#img-name {
  display: none;
  position: absolute;
  margin-left: 385px;
  margin-top: 12px;
}

#img-lastname {
  display: none;
  position: absolute;
  margin-left: 385px;
  margin-top: 92px;
}

#img-email {
  display: none;
  position: absolute;
  margin-left: 385px;
  margin-top: 172px;
}

#img-password {
  display: none;
  position: absolute;
  margin-left: 385px;
  margin-top: 252px;
}

.error-message {
  color: hsl(0, 100%, 74%) !important;
  text-align: right !important;
  position: absolute;
}

.unactive {
  display: none;
}

#error-name {
  margin-left: 294px;
  margin-top: 52px !important;
}

#error-lastname {
  margin-left: 268px;
  margin-top: 132px !important;
}

#error-email {
  margin-left: 296px;
  margin-top: 212px !important;
}

#error-password {
  margin-left: 147px;
  margin-top: 292px !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  font-size: 16px;
  font-family: "Poppins", sans-serif;
  color: white;
}

html {
  background: url(../images/bg-intro-desktop.png), hsl(0, 100%, 74%);
}

h1 {
  font-size: 3rem;
}

p {
  font-size: 1rem;
  font-weight: 400;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px 100px;
  gap: 50px;
  height: 90vh;
}

.text-container {
  max-width: 50%;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  max-width: 50%;
  min-width: 500px;
  justify-content: center;
  align-items: center;
}
.form-container .form {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 40px;
  gap: 30px;
  box-shadow: 0 5px rgba(128, 128, 128, 0.4);
}
.form-container .form input {
  height: 50px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  padding-left: 10px;
  color: hsl(249, 10%, 26%);
}
.form-container .form button {
  height: 50px;
  background-color: hsl(154, 59%, 51%);
  border: none;
  border-radius: 5px;
  font-family: "Poppins", sans-serif;
  text-transform: uppercase;
  font-size: 1rem;
  font-weight: 600;
  color: white;
  cursor: pointer;
  box-shadow: 0 4px hsla(154, 57%, 36%, 0.74);
}
.form-container .form button:active,
.form-container .form button:hover {
  background-color: hsl(154, 72%, 53%);
}
.form-container .form p {
  color: hsl(246, 25%, 77%);
  margin-top: -15px;
  font-size: 0.8rem;
  text-align: center;
}
.form-container .form a {
  text-decoration: none;
  color: hsl(0, 100%, 74%);
}
.form-container .try-it {
  padding: 15px;
  background-color: hsl(248, 32%, 49%);
  border-radius: 5px;
  margin: 20px 0;
  width: 100%;
  text-align: center;
  box-shadow: 0 5px rgba(128, 128, 128, 0.4);
}
.form-container .try-it span {
  font-weight: 600;
}

input::-moz-placeholder {
  color: hsl(246, 25%, 77%);
}

input::placeholder {
  color: hsl(246, 25%, 77%);
}

@media screen and (max-width: 950px) {
  .container {
    flex-direction: column;
    align-items: center;
    gap: 10px;
    margin: 40px 30px;
    height: -moz-fit-content;
    height: fit-content;
  }
  .text-container {
    max-width: 375px;
    text-align: center;
    padding-right: 0;
  }
  .text-container h1 {
    font-size: 2.2rem;
  }
  .form-container {
    max-width: 375px;
    min-width: 375px;
  }
  .form-container #img-name {
    margin-left: 257px;
  }
  .form-container #img-lastname {
    margin-left: 259px;
  }
  .form-container #img-email {
    margin-left: 260px;
  }
  .form-container #img-password {
    margin-left: 260px;
  }
  #error-name {
    margin-left: 171px;
  }
  #error-lastname {
    margin-left: 145px;
  }
  #error-email {
    margin-left: 172px;
  }
  #error-password {
    margin-left: 24px;
  }
}/*# sourceMappingURL=style.css.map */